/* ==========================================================================
   VARIABLES: Color Library

   Imported through vite.config.ts as @use directive
   Usage: colors.$var
   ========================================================================== */

// Color Presets
$white: #fff;
$black: #000;
$grey: #b0aeb9;

// Theming
$bg-main: #2e3138;
$bg-navi: #2d3037;

// Helpers
$selection-bg: #b3d4fc;
$selection-font: #000;
